<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>用户添加</title>
</head>
<body>
<h1 th:text="${des}">用户添加</h1>
<table>
    <form action="#" method="post" th:action="@{/user/add.action}">
        <tr>
            <th th:text="用户名">用户名</th>
            <input type="text" name="name"/>
        </tr>
        <th th:text="年龄">用户年龄</th>
        <th><input type="text" name="age"/></th>
        </tr>
        <tr>
            <input type="submit" value="添加"/>
            <input type="reset" value="重置"/>
        </tr>
    </form>
</table>
</body>
</html>